$theme-color: #d9342f;
$bg-color:#f7f7f7;
$carNum1: #d9342f; $carNum2: #fb6d05; $carNum3: #e9c402; $carNum4: #05ad5c; $carNum5: #3f8feb; $carNum6: #9966cc; $carNum7: #0064be; $carNum8: #b60b9b; $carNum9: #039393; $carNum10: #9d0202;
$bgcolorList: $carNum1 $carNum2 $carNum3 $carNum4 $carNum5 $carNum6 $carNum7 $carNum8 $carNum9 $carNum10;
